* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
}

.container_denu{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.card {
    width: 70vw;
    background-color: #f5f5f5;

}