* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
}

body{
background-image: url('/olhonailha/imgs/ProjetoI.png');
background-repeat: no-repeat;
background-size: cover;

}

header {
    background-image: url('/olhonailha/imgs/Projeto.png');
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    left: 75px;
    top: 100px;
}

/* .cad {
    position: absolute;
    right: 100px;
    top: 100px;
} */


.text_sobre {
    text-align: center;
    color: rgb(40, 23, 187); 
    padding: 10px;
    margin: center;
    background-color: azure;


}

.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

footer{
    margin: center;
}