.container_denu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
}

.container_card {
    /*  display: flex;
    justify-content: center; */
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
}

.card {
    width: 75vw;
    left: 8vw;
    background-color: #f8f9fa;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin: 10px;


}

.card-desc {
    display: grid;
    gap: 10px;
}

/* .texto_limitado {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.centro {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.texto {
    white-space: pre;
}